<h1>liste des categories</h1>
<div class="container">
     <button type="button" class="btn btn-success" routerLink="/insertcat">ajouter</button>
<table class="table table-striped">
    <thead>
<tr>
    <th>
        nom categorie
    </th>
    <th>
        image categorie
    </th>
    <th>modifier</th>
    <th>supprimer</th>
</tr>
    </thead>

    <tbody>
<tr *ngFor="let c of categories">
    <td>{{c.nomcategorie}}</td>
    <td ><img src="{{c.imagecategorie}}" width="60" height="60"></td>
   <td> <button type="button" class="btn btn-primary" routerLink="/modifcat/{{c._id}}">modifier</button></td>
    <td><button type="button" class="btn btn-danger" (click)="suppcategorie(c._id)">supprimer</button></td>
</tr>
    </tbody>
</table>

</div>