/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.form-label {
    font-style: oblique;
}
div .col-md-2{
    margin-left: 400px;
    text-align: center;
    font-weight: 600;
}